# Operations
There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture

In [2]:
import pandas as pd
df = pd.DataFrame({
    'col1' : [1, 2, 3, 4],
    'col2' : [444, 555, 666, 444],
    'col3' : ['abc', 'def', 'ghi', 'xyz']
})

df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

#### Info on Unique Values

In [5]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [6]:
df['col2'].nunique()

3